<div class="main-container">
  <div class="main-container-content-article-small">
    <a href="#"><img src="/src/img/mainContent/kommerSnart.jpg" /></a>
  </div>
  <div class="main-container-content-movie-comingsoon">
    <a href="#"><img src="/src/img/mainContent/inIDimman.jpg" /></a>
  </div>
  <div class="main-container-content-movie-comingsoon">
    <a href="#"><img src="/src/img/mainContent/lillaMamma.jpg" /></a>
  </div>
  <div class="main-container-content-movie-comingsoon">
    <a href="#"><img src="/src/img/mainContent/annette.jpg" /></a>
  </div>
  <div class="main-container-content-article-small">
    <a href="#"><img src="/src/img/mainContent/visasNu.jpg" /></a>
  </div>
  <div class="main-container-content-movie-availablenow">
    <a href="#"><img src="/src/img/mainContent/inIDimman.jpg" /></a>
  </div>
  <div class="main-container-content-movie-availablenow">
    <a href="#"><img src="/src/img/mainContent/fromTheWildSea.jpg" /></a>
  </div>
  <div class="main-container-content-movie-availablenow">
    <a href="#"><img src="/src/img/mainContent/martinEden.jpg" /></a>
  </div>
</div>