<div class="main-container">
  <div class="main-container-content-article-small">
    <a href="#"><img src="/src/img/mainContent/visasNu.jpg" /></a>
  </div>
  {{#each movies}}
    <div class="main-container-content-movie-availablenow">
      <a href="/{{id}}"><h2>{{attributes.title}}</h2></a>
    </div>
  {{/each}}
</div>