<div class="main-container">
  <div class="main-container-content-article-small">
    <a href="#"><img src="/src/img/mainContent/visasNu.jpg" /></a>
  </div>
  <div class="main-container-content-movie-availablenow">
    <h2>{{movie.attributes.title}}</h2>
    <p>{{movie.attributes.intro}}</p>
    <img src="{{movie.attributes.image.url}}" />
  </div>
</div>